<% if user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome back to One Month Rails!</h1>
		<p>
			I hope you're having a great day and having fun times.
		</p>
	</div>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to One Month Rails!</h1>
		<p>
			You've reached Louise's homepage for the
			<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			application.
		</p>
		<p>
			<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>